<section class="comment-box-container" id="<%= articles_info.id %>">

    <h1>Leave a comment</h1><br>

    <textarea id="add-comment-box"></textarea>


    <div id="add-comment-process">

        <button id="add-comment-btn"><p>Add Comment</p></button>

        <div id="error-alert-comment" class="alert alert-danger alert-box" role="alert">*Comment MUST long at least <b>1</b> and at last <b>1000</b></div>


        <!-- Loading Animation -->
        <div id="loading-comment" class="sk-chase">
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
            <div class="sk-chase-dot"></div>
        </div>

    </div>

</section>