<!-- Button trigger modal -->
<button type="button" id="article-photo-modal-btn" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop-article-photo"
    style="display: none;">
    Launch static backdrop modal
</button>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop-article-photo" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="staticBackdropLabel">
                    <b>Add a photo for your article</b>
                </h5>

                <button type="button" class="close article-photo-close-btns" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>


            <div class="modal-body">

                <div id="preview-article-photo-container">

                    <img id="preview-article-photo" src="">
                    
                </div>

                <form id="file-input-article-photo-container">
                    <input id="file-input-article-photo" type="file" accept="image/jpg, image/jpeg, image/png">
                </form>

                <div id="error-alert-article-photo" class="alert alert-danger alert-box" role="alert"></div>

            </div>


            <div class="modal-footer" id="article-photo-footer">                

                <button type="button" class="btn btn-secondary article-photo-close-btns"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="next-step-btn">Next Step</button>


                <!-- Loading Animation -->
                <div id="loading-article-photo" class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>

            </div>
        </div>
    </div>
</div>