<nav>

    <ul>

        <li class="nav-items-container">
            <i class="fas fa-home icons-navbar"></i>
            <a href="#" class="nav-items">&nbspHome</a>
        </li>
        
        <li class="nav-items-container">
            <i class="fas fa-phone-square-alt icons-navbar"></i>
            <a href="#" class="nav-items">&nbsp;Contact Us</a>
        </li>
        
        <li class="nav-items-container">
            <i class="fas fa-exclamation-circle icons-navbar"></i>
            <a href="#" class="nav-items" class="icons8-info">&nbspAbout</a>
        </li>
    </ul>
    

    <%- include('./searchBox.ejs') -%>
    
</nav>