<div id="search-box-container">
    <i class="fas fa-search icons"></i>
    <input type="text" placeholder="Search..." id="search-box" onkeyup='search()' >

    <!-- <div id="foundedProducts"></div> -->
</div>