<aside>

    <ul>

        <li class="side-items-container blue-hover" id="top-aside-item">
            <i class="fas fa-plus icons-sidebar"></i>
            <a href="#" class="side-items">&emsp;New Article</a>
        </li>
        
        <li class="side-items-container blue-hover">
            <i class="fas fa-scroll icons-sidebar"></i>
            <a href="#" class="side-items">&ensp;&nbsp;Your Articles</a>
        </li>
        
        <li class="side-items-container blue-hover">
            <i class="fas fa-tachometer-alt icons-sidebar"></i>
            <a href="#" class="side-items">&emsp;Dashboard</a>
        </li>


        <li style="list-style-type: none; height: 60px;"></li>

        

        <li class="side-items-container last-aside-item">
            <i class="fas fa-power-off icons-sidebar"></i>
            <a href="#" class="side-items">&emsp;Log Out</a>
        </li>

    </ul>        

</aside>