<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <%- include('./partials/bootstrap-css.ejs') -%>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/signup-signin.css">

    <title>Sign-in</title>
</head>

<body>

    <%- include('./partials/navbar.ejs') -%>

    
    <div id="container">

        <h1 id="title">Sign-in</h1>

        
        <sec id="personal-info">

            <input id="username-box" class="inputs" type="text" placeholder="Username" required>
            <div id="uname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Username length is not valid
            </div>

            
            <input id="password-box" class="inputs" type="password" placeholder="Password" required>
            <div id="password-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Password length is not valid
            </div>


            <button type="submit" id="signin-button"><p>Sign-in</p></button type="submit">

        </form>

    </div>


    <div id="error-alert" class="alert alert-danger alert-box" role="alert"></div>



    <%- include('./partials/fontawsome-js.ejs') -%>
    <%- include('./partials/bootstrap-js.ejs') -%>

    <script src="javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="javascripts/signin.js"></script>

</body>

</html>