<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    
    <%- include('./partials/bootstrap-css.ejs') -%>
    
    <link rel="stylesheet" href="stylesheets/main.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/signup-signin.css">

    <title>Sign-up</title>
</head>

<body>

    <%- include('./partials/navbar.ejs') -%>

    
    <div id="container">

        <h1 id="title">Sign-Up</h1>

        
        <sec id="personal-info">

            <!-- <label for="fname">First Name:</label> -->
            <input id="firstname-box" class="inputs" type="text" name="fname" placeholder="First Name" required>
            <div id="fname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*First Name must long at least 2 and at last 15
            </div>


            <input id="lastname-box" class="inputs" type="text" placeholder="Last Name" required>
            <div id="lname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Last Name must long at least 3 and at last 20
            </div>


            <input id="username-box" class="inputs" type="text" placeholder="Username" required>
            <div id="uname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Username must long at least 3 and at last 10
            </div>

            
            <input id="password-box" class="inputs" type="password" placeholder="Password" required>
            <div id="password-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Password must long at least 6 and at last 12
            </div>

            <input id="password-repeat-box" class="inputs" type="password" placeholder="Repeat Password" required>
            <div id="password-repeat-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Both passwords MUST be the same
            </div>


            <input id="mobile-box" class="inputs" type="text" placeholder="Mobile Number" required>
            <div id="mobile-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*mobile Number Must long 11
            </div>
            <div id="number-validation-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Only numbers are accepted for mobile number
            </div>


            <input id="Male" class="gender" type="radio" name="gender" checked>
            <label for="Male">Male</label>

            <input id="Female" class="gender" type="radio" name="gender">
            <label for="Female">Female</label>


            <button id="signup-button"><p>Sign-Up</p></button>

        </sec>

    </div>


    <div id="error-alert" class="alert alert-danger alert-box" role="alert"></div>

    <div id="user-existence-alert" class="alert alert-warning alert-box" role="alert"></div>
    

    
    <!-- Button trigger modal -->
    <button type="button" id="modal-btn" class="btn btn-primary" data-toggle="modal"
        data-target="#staticBackdrop" style="display: none;">
            Launch static backdrop modal
    </button>
    
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">

        <div class="modal-dialog">
            <div class="modal-content">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Congratulations!</h5>
                </div>

                <div class="modal-body" style="text-align:center;">
                    <b>Sign-Up was seccessful!</b>
                </div>

                <div class="modal-footer">
                    <button type="button" id="great-btn" class="btn btn-primary">Great</button>
                </div>

            </div>
        </div>
    </div>




    
    <%- include('./partials/fontawsome-js.ejs') -%>
    <%- include('./partials/bootstrap-js.ejs') -%>

    <script src="javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="javascripts/signup.js" type="module"></script>

</body>

</html>