<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/signup-signin.css">

    <script src="https://kit.fontawesome.com/0b9430af26.js" crossorigin="anonymous"></script>

    <title>Sign-up</title>
</head>

<body>

    <%- include('./partials/navbar.ejs') -%>

    
    <div id="container">

        <h1 id="title">Sign-Up</h1>

        
        <sec id="personal-info">

            <input id="firstname-box" class="inputs" type="text" placeholder="First Name" required>
            <div id="fname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*First Name must long at least 2 and at last 15
            </div>


            <input id="lastname-box" class="inputs" type="text" placeholder="Last Name" required>
            <div id="lname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Last Name must long at least 3 and at last 20
            </div>


            <input id="username-box" class="inputs" type="text" placeholder="Username" required>
            <div id="uname-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Username must long at least 3 and at last 10
            </div>

            
            <input id="password-box" class="inputs" type="text" placeholder="Password" required>
            <div id="password-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Password must long at least 6 and at last 12
            </div>


            <input id="phone-box" class="inputs" type="text" placeholder="Phone Number" required>
            <div id="phone-length-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Phone Number Must long 11
            </div>
            <div id="number-validation-warning" class="warning-box">
                &emsp;&emsp;&emsp;*Only enter numbers
            </div>


            <input id="male" class="gender" type="radio" name="gender" checked>Male
            <input id="female" class="gender" type="radio" name="gender">Female


            <div id="signup-button"><p>Sign-Up</p></div>

        </sec>

    </div>


    <script src="javascripts/jQuery-Uncompressed.v3.4.1.js"></script>
    <script src="javascripts/signup.js"></script>

</body>

</html>