/* ************************************************************************* */
/*                                Editor Section                             */
/* ************************************************************************* */

#article-container {
    background-color: white;
    
    width: 76.25%;
    height: auto;
    margin: 20px 320px;
    padding: 15px;

    border-radius: 15px;
    box-shadow: 2px 3px 10px #111111;
}

#article-container form {
    display: none;
}

#publish-btn {   
    text-align: center;
    background-color: rgb(23, 114, 199);
    color: whitesmoke;

    font-weight: bold;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;

    width: 200px;
    height: 50px;
    margin: 20px 400px 5px 400px;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 7px;
    border-style: none;
    
    outline: none; 
    cursor: pointer;
}

#publish-btn:hover {
    background-color: rgb(16, 89, 156);
}


/* ************************************************************************* */
/*                                 Summary Panel                             */
/* ************************************************************************* */

#summary-sheet {
    margin: auto;
}

#char-count {
    margin: 0;
}


/* ************************************************************************* */
/*                                 Error Boxes                               */
/* ************************************************************************* */

#error-alert-article {
    text-align: center;
    width: 40%;
    margin: 10px auto 0 auto;
    border-left: 6px solid #be5050;
    display: none;
}

#error-alert-summary, #error-alert-photo {
    text-align: center;
    margin: 10px auto 0 auto;
    border-left: 6px solid #be5050;
    display: none;
}

#error-alert-title-edit {
    text-align: center;
    width: 45%;
    margin: 20px auto 0 auto;
    border-left: 6px solid #be5050;
    display: none;
}

#error-alert-summary-edit, #error-alert-content-edit {
    text-align: center;
    width: 60%;
    margin: auto;
    border-left: 6px solid #be5050;
    display: none;
}

/* ************************************************************************* */
/*                              Add Photo Panel                              */
/* ************************************************************************* */

#preview-container {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    
    border: 1px solid black;
    border-radius: 100%;
}

#preview-container p {
    margin: 40% auto;
}

#preview {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 100%;
    display: none;
}

.modal-body {
    text-align: center;
}

#file-input-container {
    text-align: center;
}


#finish-btn {
    display: none;
}


#remove-article-photo {
    position: absolute;
    left: 16px;
}


/* ************************************************************************* */
/*                             Articles List Section                         */
/* ************************************************************************* */

.article-box {
    background-color: white;
    
    width: 76.25%;
    height: auto;
    margin: 20px 320px;
    padding: 20px 30px 30px 30px;

    border-radius: 15px;
    box-shadow: 2px 3px 10px #111111;
}


/* ************************************************* */
/*                  Header Section                   */
/* ************************************************* */

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#author-info {
    width: auto;
    padding: 5px;
    margin-top: 5px;

    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    align-items: center;
}

#author-info div p {
    display: inline-block;
    width: auto;
    margin: 2px;
}

#author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 10px;
}

.delete-article-btn, .edit-article-btn {
    font-size: 25px;
    margin: 0 5px;
    padding: 7px;
    border-radius: 7px;
    cursor: pointer;
}

.delete-article-btn {
    color: red;
}

.delete-article-btn:hover {
    color: white;
    background-color: red;
}

.edit-article-btn {
    color: #1d71c0;
}

.edit-article-btn:hover {
    color: white;
    background-color:  #1d71c0;
}


/* ************************************************* */
/*                    Body Section                   */
/* ************************************************* */

#article-title-container {
    text-align: center;
    word-wrap: break-word;
}

#article-title {
    max-width: 80%;
    margin: 5px auto;
}

#body {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ************************************************* */
/*                  Footer Section                   */
/* ************************************************* */

#article-avatar {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    float: left;
}

#summary {
    width: 90%;
    height: auto;
    word-wrap: break-word;
}

#content {
    width: 100%;
    height: auto;
    word-wrap: break-word;
    display: none;
}

#footer {
    margin-top: 15px;
    text-align: right;
}


/* ************************************************************************* */
/*                                 Edit Article                              */
/* ************************************************************************* */

/* ************************************************* */
/*                   Title Section                   */
/* ************************************************* */

#article-title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title-edit-section {
    width: 80%;
}

#title-edit-section h4 {
    margin-bottom: -8px;
    display: inline-block;
    width: auto;
}

#edit-title-input {
    width: 90%;
    height: 40px;
}

#title-edit-process {
    width: 20%;
    text-align: center;
}

#title-edit-btn, #summary-edit-btn {
    background-color: #1d71c0;
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
}

#title-edit-btn:hover, #summary-edit-btn:hover {
    background-color: #2181db;
}


#article-avatar-and-summary-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* ************************************************* */
/*                  Avatar Section                   */
/* ************************************************* */

#avatar-edit {
    text-align: center;
    width: 20%;
    height: 200px;
    border-radius: 100%;
    position: relative;
}

#avatar {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

#add-photo {
    background-color: rgba(42, 42, 42, 0.719);

    width: 100%;
    height: 100%;

    border-radius: 100%;

    position: absolute;
    top: 0;

    display: none;
    justify-content: center;
    flex-direction: column;
    align-items : center;

    cursor: pointer;
}

#add-photo i {
    color: white;
    font-size: 50px;
    clear: both;
}

#add-photo p {
    color: white;
}

#avatar-edit:hover #add-photo {
    display: flex;
}


/* ************************************************* */
/*                  Summary Section                  */
/* ************************************************* */

#summary-edit-process, #content-edit-process {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

#summary-edit {
    width: 70%;
    height: auto;
}

#summary-edit-input {
    width: 100%;
    height: 120px;
    word-wrap: break-word;
}


#summary-edit-btn, #content-edit-btn {
    background-color: #1d71c0;
    color: white;
    text-align: center;
    width: 170px;
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}


/* ************************************************* */
/*                  Content Section                  */
/* ************************************************* */

#article-sheet {
    display: none;
}

#content-edit-btn {
    display: none;
}

#content-edit-btn {
    margin: auto;
}