/* ************************************************************************* */
/*                                  Commons                                  */
/* ************************************************************************* */

p {
    display: inline-block;
}

label {
    font-weight: bold;
    margin: 0;
}


/* ************************************************************************* */
/*                                 Background                                */
/* ************************************************************************* */

#dashboard {
    background-color: white;
    border-radius: 15px;

    margin-left: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px 30px;
    width: 900px;
    height: auto;

    box-shadow: 2px 3px 10px #111111;

    position: relative;
}


#pro-info {
    text-align: center;
    color: #424141;
}


#seperator-section {
    display: flex;
    justify-content: space-between;
}


/* ************************************************************************* */
/*                               Picture Section                             */
/* ************************************************************************* */

#picture-section {
    width: 350px;
    height: 350px;
    border-radius: 100%;
    position: relative;
}

#picture-section img {
    min-width: 350px;
    max-width: 350px;
    min-height: 350px;
    max-height: 350px;

    border: 1px solid black;
    border-radius: 100%;
}


#add-photo {
    background-color: rgba(42, 42, 42, 0.719);

    width: 100%;
    height: 100%;

    border-radius: 100%;

    position: absolute;
    top: 0;

    display: none;
    justify-content: center;
    flex-direction: column;
    align-items : center;

    cursor: pointer;
}

#add-photo i {
    color: white;
    font-size: 50px;
    clear: both;
}

#add-photo p {
    color: white;
}


#picture-section:hover #add-photo {
    display: flex;
}


/* ************************************************************************* */
/*                             Change Photo Panel                            */
/* ************************************************************************* */

#preview-container {
    width: 200px;
    height: 200px;
    margin: auto;
    margin-bottom: 20px;
    
    border: 1px solid black;
    border-radius: 100%;
}

#preview-container p {
    margin: 40% auto;
}

#preview {
    width: 100%;
    height: 100%;
    margin: auto;
    border-radius: 100%;
    display: none;
}


#photo-change-footer {
    position: relative;
}

#remove-photo {
    position: absolute;
    left: 16px;
}



/* ************************************************************************* */
/*                                 User's Info                               */
/* ************************************************************************* */

.info-container {
    width: 370px;
    margin: 20px;

    display: flex;
    justify-content: space-between;

    border-bottom: 1px solid gray;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.info-container span {
    border: none;
}


#genders-container {
    width: 200px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gender {
   width: 80px !important;
}


/* ************************************************************************* */
/*                                 Edit Section                              */
/* ************************************************************************* */

#edit-container {
    margin: 30px auto 7.5px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#edit-btn {
    background-color: #1d71c0;
    color: white;
    display: inline-block;
    width: 150px;
    padding: 10px;
    border-radius: 7px;
    margin: auto;
    cursor: pointer;
}

#edit-btn:hover {
    background-color: #2181db;
}

.edit-box {
    display: none;
    width: 190px;
    margin: -3px auto;
}


#apply-btn {
    color: #14f00c;
    font-size: 37px;

    border: 4px solid white;
    border-radius: 100%;
    
    display: none;
    align-self: center;
    cursor: pointer;
}

#apply-btn:hover {
    background-color: #14f00c;
    color: white;
    border: 4px solid  #14f00c;
}


#cancel-btn {
    color: red;
    font-size: 37px;

    border: 4px solid white;
    border-radius: 100%;
    
    display: none;
    align-self: center;
    cursor: pointer;
}

#cancel-btn:hover {
    background-color: red;
    color: white;
    border: 4px solid red;
}


/* ************************************************************************* */
/*                                 Error Boxes                               */
/* ************************************************************************* */

#error-alert {
    width: 52%;
    margin: 20px auto 0 auto;
    border-left: 6px solid #be5050;
    display: none;
}

.warning-box {
    color: red;
    font-size: 13px;
    font-weight: bold;
    text-align: start;

    margin: 0 auto 10px 50px;

    visibility: hidden;
}

#error-alert-password, #error-alert-photo {
    width: 400px;
    margin: 40px auto 10px auto;

    box-shadow: 2px 3px 10px #111111;
    border-left: 6px solid #be5050;

    display: none;
}


/* ************************************************************************* */
/*                            Change Password Panel                          */
/* ************************************************************************* */

.modal-body {
    text-align: center;
}

.change-password-inputs {
    text-align: center;
    background-color: #a8a7a72d;
    border-radius: 7px;

    margin: 10px auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 300px;
    height: 45px;

    border-style: none;
    outline: none;
}