aside {
    background-color: white;
    
    width: 270px;
    height: auto;
    margin-top: 20px;
    margin-left: 21.6px;
    padding: 0;

    border-radius: 15px;
    box-shadow: 2px 3px 10px #111111;

    float: left;
}

aside ul {
    padding: 0;
}


#top-aside-item {
    margin-top: -1px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.last-aside-item {
    margin-bottom: -17px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.last-aside-item:hover {
    background-color: #ff0000df;
}


.side-items {
    color: #363636;
    text-decoration: none !important;
    vertical-align: sub;
}

.side-items-container {
    font: bold 24px Arial;

    width: 100%;
    padding: 15px 20px;

    list-style: none;
    cursor: pointer;
}

.icons-sidebar {
    color: #363636;
    vertical-align: middle;
}


.blue-hover:hover {
    background-color: #1e70f5;
}

.green-hover:hover {
    background-color: #2ee766;
}

.side-items-container:hover .side-items, .side-items-container:hover .icons-sidebar {
    color: white;
}