<!-- Button trigger modal -->
<button type="button" id="password-modal-btn" class="btn btn-primary" data-toggle="modal" data-target="#staticBackdrop-password"
    style="display: none;">
    Launch static backdrop modal
</button>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop-password" data-backdrop="static" data-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">

    <div class="modal-dialog">

        <div class="modal-content">

            <div class="modal-header">

                <h5 class="modal-title" id="staticBackdropLabel">
                    <b>Change Password</b>
                </h5>

                <button type="button" class="close password-close-btns" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>


            <div class="modal-body">

                <label for="old-p-box">Old Password:</label><br>
                <input class="change-password-inputs" id="old-p-box" type="password" placeholder="Old Password">
                <div id="old-password-length-warning" class="warning-box">
                    &emsp;&emsp;&emsp;*Length is not valid
                </div>

                <label for="new-p-box">New Password:</label><br>
                <input class="change-password-inputs" id="new-p-box" type="password" placeholder="New Password">
                <div id="new-password-length-warning" class="warning-box">
                    &emsp;&emsp;&emsp;*Length is not valid
                </div>

                <label for="repeat-p-box">Repeat Password:</label><br>
                <input class="change-password-inputs" id="repeat-p-box" type="password"
                    placeholder=" Repeat New Password">
                <div id="repeat-password-length-warning" class="warning-box">
                    &emsp;&emsp;&emsp;*Both passwords MUST be the same
                </div>


                <div id="error-alert-password" class="alert alert-danger alert-box" role="alert"></div>

            </div>


            <div class="modal-footer">

                <button type="button" class="btn btn-secondary password-close-btns"
                    data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="apply-password-change">Apply</button>

                <!-- Loading Animation -->
                <div id="loading-password" class="sk-chase">
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                    <div class="sk-chase-dot"></div>
                </div>

            </div>
        </div>
    </div>
</div>